/* src/components/LoginPage.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  .logo {
    width: 50px; /* Ajuste o tamanho do logo conforme necessário */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
